body {
	background-color: #333232;
}

#wrapper {
	background-color: blue;
}

#container {
	background-color: red;
}
#navigation {
	background-color: brown;
}
#header {
	background-color: yellow;
}
#content {
	background-color: purple;
}
#links {
	background-color: green;
}
#footer {
	background-color: pink;
}